@charset "UTF-8";
/* ページ全体 */
html {
  font-size: 100%;
}

/* DOMコード用 */
#dom-code {
  font-weight: bold;
  font-size: 1.5rem;
}

/* 天気予報 */
#weather-html {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

/* 教材コード */
